{{>/layout/header}}

<body>
    <div class="container">
        <form action="/post/list" class="d-flex justify-content-end" method="get">
            <input name="keyword" class="me-2 search_box" type="text" placeholder="Search">
            <button class="btn btn_search" type="submit">검색</button>
        </form>
        <div>
            <h3>'{{keyword}}' 관련 추천</h3>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>썸네일</th>
                    <th>가게 이름</th>
                    <th>주소</th>
                    <th>카테고리</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                {{#restaurant}}
                <tr onclick="location.href='/post/{{id}}'">
                    <td class="d-flex">
                    {{#thumUrl}}
                    <div class="thumnail_img">
                        <img src="{{thumUrl}}" class="thumnail_img_size" />
                    </div>
                    {{/thumUrl}}{{^thumUrl}}
                    <img src="https://us.123rf.com/450wm/siamimages/siamimages1504/siamimages150400935/39170816-%EC%82%AC%EC%A7%84-%EC%97%86%EC%9D%8C-%EC%95%84%EC%9D%B4%EC%BD%98-%EC%97%86%EC%9D%8C.jpg?ver=6"
                    class="thumnail_img_size">
                    {{/thumUrl}}
                    </td>

                    <td>{{#name}}{{name}}{{/name}}{{^name}}null{{/name}}</td>
                    <td>{{#address}}{{address}}{{/address}}{{^address}}null{{/address}}</td>
                    <td>{{#category}}{{category}}{{/category}}{{^category}}null{{/category}}</td>
                    <td>{{createDate}}</td>
                </tr>
                {{/restaurant}}
            </tbody>

        </table>
        <ul class="pagination justify-content-center">
            {{#restaurant.first}}
            <li class="page-item disabled"><a class="page-link" href="?keyword={{keyword}}&page={{prevPage}}">이전</a></li>
            {{/restaurant.first}}
            {{^restaurant.first}}
            <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{prevPage}}">이전</a></li>
            {{/restaurant.first}}
            {{#restaurant.last}}
            <li class="page-item disabled"><a class="page-link" href="?keyword={{keyword}}&page={{nextPage}}">다음</a></li>
            {{/restaurant.last}}
            {{^restaurant.last}}
            <li class="page-item"><a class="page-link" href="?keyword={{keyword}}&page={{nextPage}}">다음</a></li>
            {{/restaurant.last}}
        </ul>

    </div>

</body>

</html>
{{>/layout/footer}}