{{>/layout/header}}

<!--main start-->
<div class="content_box">
    <div class="background_img ul"> 
        <form action="/post/list" class="d-flex justify-content-center form_list" method="get">
                <input name="keyword" class="me-2 main_search_box" type="text" placeholder="Search">
                <button class="btn btn_search" type="submit">검색</button>
        </form>
    </div>
</div>

{{>/layout/footer}}

