{{> /layout/header}}

<!-- 컨테이너 시작 -->
<div class="content_box mt-3">
    <div class="form_box">
        <div class="display_box">
        </div>
        <!-- 로그인 폼 시작 -->
        <div class="form_box2">
            <div class="form_text_box1">
                <form action="/login" method="post">
                    <div class=" mb-3 mt-3">
                        <input type="text" class="form-control" placeholder="아이디" name="id"
                            value="{{#remember}}{{remember}}{{/remember}}">
                    </div>
                    <div class="mb-3 mt-3">
                        <input type="password" class="form-control" placeholder="비밀번호" name="password">
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> 로그인 상태 유지
                        </label>
                    </div>
                    <div class="btn_lg_box">
                        <button type="submit" class="btn btn_lg">로그인</button>
                    </div>
                    <div class="btn_sm_box">
                        <div class="btn btn_sm"><a href="/user/id-find-form">아이디 찾기</a></div>
                        <div class="btn btn_sm"><a href="/join-form">회원가입</a></div>
                        <div class="btn btn_sm"><a href="/user/password-reset-form">비밀번호 찾기</a></div>
                    </div>
                </form>
            </div>

        </div>
        <!-- 로그인 폼 끝 -->
    </div>
</div>
<!-- 컨테이너 끝 -->

{{> /layout/footer}}